<!DOCTYPE html>
<html>
  <head>
    <title>Getaway Teardrop Campers</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta
      name="description"
      content="Getaway Teardrop Campers are custom made in Goomboorian, Qld"
    />
    <link rel="stylesheet" href="https://use.typekit.net/yff3hnn.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <link id="favicon" rel="icon" href="images/logo-2024.png" />
    
    <!-- development version, includes helpful console warnings -->
    <script src=https://cdn.jsdelivr.net/npm/vue/dist/vue.js></script>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PW5DW4K3');</script>
  <!-- End Google Tag Manager -->

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PW5DW4K3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <header class="text-center">
      
      <div>
        <!-- <img src="images/sq-hero.jpg" /> -->
        <span class="logo"><img src="images/logo-2024.png" /></span>
        <!-- <a href="#intro"><span>&#10095;</span></a> -->
      </div>
    </header>
    <main class="text-center my-5">
      <div class="container" id="intro">
        <div class="intro">
          <h1>Getaway Teardrop Campers</h1>
          <h2>designed and built in Queensland</h2>
        </div>
      </div>
    </main>

    <section class="container gallery mb-5">
      <h3 class="text-center">Squaredrop Model</h3>
      <div class="video py-4 text-center">
        <iframe
        width="960"
        height="540"
        src="https://www.youtube.com/embed/SsN37ATI1_g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      </div>
      <div id="group-1" class="gallery row" >
        <div class="col-12 col-md-3 group-1" v-for="group1 in group1">
        <a v-bind:href="group1.img" class="big"><img v-bind:src="group1.img" alt="" title="" class="hover-shadow cursor" /></a>
      </div> 
      </div>
    </section>

    <!-- // -----------
    //  TEARDROP MODEL
    // ----------- -->

    <section class="container gallery">
      <h3 class="text-center">Teardrop Model</h3>
      <div class="video py-4 text-center">
        <iframe
          width="960"
          height="540"
          src="https://www.youtube.com/embed/DaJNpLahoZ4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div id="group-2" class="gallery row" >
        <div class="col-12 col-md-3 group-2" v-for="group2 in group2">
        <a v-bind:href="group2.img" class="big"><img v-bind:src="group2.img" alt="" title="" class="hover-shadow cursor" /></a>
      </div> 
    </div>
      

          <!-- Scripts -->
    <script>
      var app1 = new Vue({
      el: '#group-1',
        data: {
            group1: [
            { img: 'images/sq-hero.jpg',},
            { img: 'images/sq-2.jpg', },
            { img: 'images/sq-3.jpg', },
            { img: 'images/sq-4.jpg', },
            { img: 'images/sq-5.jpg', },
            { img: 'images/sq-6.jpg', },
            { img: 'images/sq-8.jpg', },
            { img: 'images/sq-9.jpg', }
            ]
        }
        });
      var app2 = new Vue({
      el: '#group-2',
        data: {
            group2: [
            { img: 'images/1.jpg',},
            { img: 'images/2.jpg', },
            { img: 'images/3.jpg', },
            { img: 'images/4.jpg', },
            { img: 'images/5.jpg', },
            { img: 'images/6.jpg', },
            { img: 'images/7.jpg', },
            { img: 'images/8.jpg', }
            ]
        }
        });
      </script>
    </section>
 

    <section class="container">
      <h3 class="pb-2 text-center mt-5">Optional Upgrades:</h3>
      <ul>
        <li><img src="images/tick-teal.png" /> 2nd awning & brackets</li>
        <li><img src="images/tick-teal.png" /> Kings shower tent and poles</li>
        <li><img src="images/tick-teal.png" /> 100 aph lithium battery</li>
        <li><img src="images/tick-teal.png" /> 175 watt solar panel</li>
        <li><img src="images/tick-teal.png" /> 12 volt victron power board</li>
        <li><img src="images/tick-teal.png" /> 2nd side table track</li>
        <li><img src="images/tick-teal.png" /> 30 litre engel drawer fridge</li>
        <li><img src="images/tick-teal.png" /> Sirocco fan</li>
      </ul>
    </section>

    <a
      class="fb"
      href="https://www.facebook.com/GetawayTeardropCampers/"
      target="_blank"
    >
      <span>
        <img src="images/facebook.png" /> <br />View more on Facebook</span
      >
    </a>

    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mt-5 pt-2 text-white">
            <h4 class="pb-2">
              For enquiries contact <br /><strong><a href="tel:0439 388 015">Wes on  0439 388 015</a></strong>
              <br />or fill in the form below:
            </h4>
          </div>
        </div>

        <form
          name="contact-gtc"
          method="POST"
          data-netlify="true"
          class="col-sm-6 offset-md-3 py-3 my-3"
        >
          <div class="form-group mb-2">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="form-group mb-4">
            <textarea
              name="message"
              class="form-control"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-secondary" type="submit">Send</button>
          </div>
        </form>
      </div>
    </section>
    <footer>
      <p class="text-center mt-2">© Getaway Teardrop Campers</p>
    </footer>


    <script src="js/scripts.js"></script>
    <script>
      (function() {
          var $gallery = new SimpleLightbox('.group-1 a', {});
          var $gallery2 = new SimpleLightbox('.group-2 a', {});
    })();
    </script>
  </body>
</html>
